*{ 
margin: 0px;
    padding: 0px;
    box-sizing: border-box;   
    
         
}


html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    
         
    
}

#contenedor {
    width: 100%;
    height: 1800px;

    
}


#cab {
    width: 100%;
    height: 130px;
    background-color:#50C0F2; 
}
#cabecera
{
    width: 100%;
    height: 130px;
    background-color: #50C0F2;
    position: fixed;
    z-index: 10;
   
    
   
}

.logoi {
    width: 10%;
    height: 110px;
    margin-left: 20px;
    margin-top: 10px;
    float: left;
    z-index: 10;
    
   
    
}

#logocentral {
    width: 43%;
    height: 110px;
    margin-left: 15px;
    margin-top: 10px;
    float: left;
    z-index: 10;
    
}

.logod {
    width: 18%;
    height: 110px;
    margin-left: 1080px;
    margin-top: 10px;
    z-index: 10;
   
    
    
}
#menu {
    width: 100%;
    height: 55px;
    background-color: white;
    position: fixed;
    z-index: 10;
    
}
.nav {
    width: 100%;
    height: 55px;
    background-color: white;
    position: fixed;
    z-index: 10;
    
}

ul, ol {
list-style:none;
			}
p{
    text-align: justify;

}			
.nav > li {
float:left;
			}

			
.nav li a {
background-color:#2175bc;
color:#fff;
text-decoration:none;
padding:10px;
display:block;
font-size: 22px;
text-align: center;
font-family: Segoe UI;
background-image: url(../images/hom.png);
background-repeat: repeat;

}
			
.nav li a:hover {
background-color:#434343 ;
background-image: url(../images/hom.png);
background-repeat: repeat;

			}

.nav li ul li a {
    background-color: #2586d7;
    height: 60px;
    font-size: 17px;
    padding: 15px;
    background-image: url(../images/hom.png);
    background-repeat: repeat;
    
}
.nav ul li ul li   a  {
background-color:#419950;  
right: -140px;

}



#inicio{
  background-color:#018956;  
}
			
.nav li ul {
display:none;
position:absolute;


			}
			
.nav li:hover > ul {
display:block;
			}
			
.nav li ul li {
position:relative;
			}
			
.nav li ul li ul {
right:-224px;
top:0px;

			}


.nav a{
width: 224.8px;
height: 55px;
			}


#slaid {
    width: 100%;
    height: 390px;
    background-color: #fff;
       
}

h1 {
    
    font-family: Helvetica;
    color: white;
    text-align: left;
    font-size: 2.7em;
    font-weight: bold;
    line-height: 2.5em;
    margin-top: 15px;
}

.logoi img {
    width: 120px;
    height: 110px;
    margin-left: 12px;
    margin-top: 0px;
}


.logod img {
    width: 130px;
    height: 110px;
    margin-left: 110px;
    margin-top: 0px;
}

#slaid img{
    width: 100%;
    height: 420px;  
}

#Home{
    width: 100%;
    height: 280px;
    background-color: #3669b5;
    background-image: url(../images/hom.png);
    background-repeat: repeat;
    color: #fff;
    text-align: left;
}

#Home h2 {
    font-family: Segoe UI;
    font-size: 80px;
    width: 60%;
    float: left;
}

h2 {
padding-top: 85px;
padding-left: 30px;
}

#leer {
width: 200px;
    height: 80px;
    
    float: right;
    margin-right: 150px;
    margin-top: 100px;
    border: 2px solid #fff;
}

#leer p {
    font-family: Segoe UI;
    font-size: 25px;
    color: #fff;
    padding-top: 20px;
    padding-left: 50px;
    
}


h3{
    color: #000;
    float: left;
    margin-left: 60px;
    font-size: 60px;
}


.animacion{   
    text-align: center!important;
    position: relative;
    animation-name: animatebottom;
    animation-duration:  1s; 
    padding: 0.01em 16px;
    
}
@keyframes animatebottom{
0% {
    left: -300px;
    
}

100% {
    left: 0;
    
}
}

#animacion{   
    text-align: center!important;
    position: relative;
    animation-name: animatebottom;
    animation-duration:  1s; 
    padding: 0.01em 16px;
    
}
@keyframes animatebottom{
0% {
    left: -300px;
    
}

100% {
    left: 0;
    
}
}

#cuerpo {
    width: 100%;
    height: 900px;
       background-color:darkturquoise;
    background-image: url(../images/hom.png);
    background-repeat: repeat;
    padding-top: 30px;
}

#footer {
    width: 100%;
    height: 60px;
    background-color: #3C3F41;
    background-image: url(../images/hom.png);
    background-repeat: repeat;
}

h5 {
    font-family: Verdana;
    color: #fff;
    font-size: 25px;
    text-align: center;
    padding-top: 15px;
}

.info {
    width: 210px;
    height: 142px;
    display: inline-block;
    background-color: #fefefe;
    margin: 4px;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    padding: 8px;
    text-align: center;
    text-decoration: none;
    margin-left: 5px;
    margin-top: 10px;
    
}

#cuerpocentro {
    margin-left: 200px;
    width: 70%;
    height: 850px;
    background-color:  dodgerblue;
    padding-left: 27px;
}

#amazon img {
    width: 194px;
    height: 43px;


}

#arduino img {
    width: 74px;
    height: 50px;


}

#beikin img {
    width: 50px;
    height: 50px;

}

#dark img {
    width: 50px;
    height: 50px;


}

#ecobee img {
    width: 194px;
    height: 40px;


}

#googlea img {
    width: 50px;
    height: 50px;
;

}

#googlec img {
    width: 194px;
    height: 58px;


}

#ifttt img {
    width: 189px;
    height: 56px;


}

#ikea img {
    width: 140px;
    height: 50px;


}

#kodi img {
    width: 132px;
    height: 50px;


}

#mqtt img {
    width: 191px;
    height: 50px;


}
#mysensor img {
    width: 143px;
    height: 50px;


}

#nest img {
    width: 118px;
    height: 50px;


}

#own img {
    width: 39px;
    height: 50px;


}

#philips img {
    width: 125px;
    height: 50px;


}

#plex img {
    width: 155px;
    height: 50px;


}

#pushbullet img {
    width: 50px;
    height: 50px;


}

#sonos img {
    width: 194px;
    height: 39px;


}
#wink img {
    width: 113px;
    height: 50px;


}

#z-wave img {
    width: 103px;
    height: 56px;


}

.content {
    width: 100%;
    height: 90%;
    background-color:darkturquoise;
    background-image: url(../images/hom.png);
    background-repeat: repeat;
    padding-top: 40px;
    padding-bottom: 40px;
}

.informacion {
    
    width: 70%;
    height: 90%;
    margin-left: 190px;
    background-color:  dodgerblue;
    text-align: justify; 
    padding-left: 50px;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    color: #fff;
    border: 1px solid #fff;
    font-size: 20px;
    
}
.informacion p
{
    color: #fff;
     
}
.informacion  li
{
    color: #fff;
    font-size: 20px; 
}
.informacion h1 {
    color: #000;
    font-size: 39px;
}

.ayuda {
    
    width: 70%;
    height: 900px;
    margin-left: 190px;
    background-color:  white;
    text-align: justify; 
    
}

.contenedor {
    width: 100%;
    height: 1050px;
    background-color:#46BD64;
    background-image: url(../images/hom.png);
    background-repeat: repeat;
    padding-top: 70px;
}

.imgcenter{
      display: block;
      margin-left: auto;
      margin-right: auto;
      border:none;
      
      }


#compo
{
    width: 100%;
    height: 100px;
    background-color:darkslategray;
    background-image: url(../images/hom.png);
    background-repeat: repeat;
    padding-top: 20px;
}
#compo p {
    font-size: 50px;
    color: #fff;
    text-align: center;
    
}